<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<!-- bower:js -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/lodash/lodash.js"></script>
	<!-- endbower -->

	<!-- sockets -->
	<script src="../socket.io/socket.io.js"></script>
	<script>
		var url = '<%= url %>';
		var emit_data = {};
		var socket = io.connect(url);

		// Emit 'init' event
		emit_data = {
			init: true
		};
		socket.emit('init', emit_data);
		console.log('EMIT init', emit_data);

		// On 'feed' event
		socket.on('feed', function (data) {
			console.log('ON feed', data);
		});
	</script>
</body>
</html>
